<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="SuppressWarningsFilter"/>
  <module name="TreeWalker">
    <module name="SuppressWarnings"/>
    <module name="SuppressWarningsHolder"/>
    <module name="AbbreviationAsWordInName"/>
    <module name="AnnotationLocation">
      <property name="allowSamelineMultipleAnnotations" value="false"/>
      <property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
      <property name="allowSamelineParameterizedAnnotation" value="false"/>
    </module>
    <module name="ArrayTypeStyle"/>
    <module name="AvoidNestedBlocks"/>
    <module name="AvoidDoubleBraceInitialization"/>
    <module name="CovariantEquals"/>
    <module name="DeclarationOrder"/>
    <module name="DefaultComesLast"/>
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <module name="FallThrough">
      <property name="checkLastCaseGroup" value="false"/>
      <property name="reliefPattern" value="FALL?[ -]?THROUGH"/>
    </module>
    <!-- TODO: reconsider this rule-->
    <!--    <module name="HiddenField">-->
    <!--      <property name="ignoreConstructorParameter" value="true"/>-->
    <!--      <property name="ignoreSetter" value="true"/>-->
    <!--      <property name="setterCanReturnItsClass" value="true"/>-->
    <!--      <property name="ignoreAbstractMethods" value="true"/>-->
    <!--    </module>-->
    <!-- TODO: remove or re-enable -->
    <!--    <module name="IllegalCatch"/>-->
    <module name="IllegalInstantiation">
      <property name="classes" value="java.lang.Boolean,java.lang.Integer"/>
    </module>
    <module name="IllegalThrows"/>
    <module name="InnerAssignment"/>

    <!-- TODO: re-enable in future -->
    <!--        <module name="MagicNumber">-->
    <!--            <property name="ignoreNumbers" value="0, 1"/>-->
    <!--            <property name="ignoreFieldDeclaration" value="false"/>-->
    <!--            <property name="ignoreAnnotation" value="true"/>-->
    <!--            <property name="ignoreHashCodeMethod" value="true"/>-->
    <!--            <property name="tokens" value="NUM_DOUBLE,NUM_FLOAT,NUM_INT,NUM_LONG"/>-->
    <!--            <property name="constantWaiverParentToken"-->
    <!--                      value="ASSIGN,ARRAY_INIT,EXPR,UNARY_PLUS, UNARY_MINUS, TYPECAST, ELIST, DIV, PLUS "/>-->
    <!--        </module>-->
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable"/>
    <!--TODO renable when parsing is finished-->
    <!--    <module name="MultipleStringLiterals">-->
    <!--      <property name="allowedDuplicates" value="2"/>-->
    <!--    </module>-->
    <module name="MultipleVariableDeclarations"/>
    <module name="NestedForDepth">
      <property name="max" value="1"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedTryDepth">
      <property name="max" value="1"/>
    </module>
    <module name="NoArrayTrailingComma"/>
    <module name="NoEnumTrailingComma"/>
    <module name="OneStatementPerLine"/>
    <!--    <module name="OverloadMethodsDeclarationOrder"/>-->
    <module name="PackageDeclaration"/>
    <module name="ParameterAssignment"/>
    <module name="RequireThis">
      <property name="checkMethods" value="false"/>
      <property name="validateOnlyOverlapping" value="true"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="UnnecessaryParentheses"/>
    <module name="UnnecessarySemicolonAfterOuterTypeDeclaration"/>
    <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>
    <module name="UnnecessarySemicolonInEnumeration"/>
    <module name="UnnecessarySemicolonInTryWithResources"/>
    <module name="VariableDeclarationUsageDistance">
      <property name="allowedDistance" value="5"/>
      <property name="ignoreFinal" value="true"/>
    </module>
    <module name="NeedBraces"/>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InnerTypeLast"/>
    <module name="InterfaceIsType"/>
    <module name="MutableException"/>
    <module name="OneTopLevelClass"/>
    <module name="ThrowsCount">
      <property name="max" value="4"/>
    </module>
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
    <module name="BooleanExpressionComplexity">
      <property name="max" value="50"/>
    </module>
    <module name="CyclomaticComplexity">
      <property name="max" value="50"/>
    </module>
  </module>
</module>